.eunit
.yaws
ebin
deps
*.o
*.beam
*.plt
.metadata
mvc_client/.metadata
mvc_client/mvcard_android/gen
mvc_client/mvcard_android/bin
mvc_client/DaDi/gen
mvc_client/DaDi/bin
mvc_client/MVA/gen
mvc_client/MVA/bin
mvc_client/PhoneGapBarCodePlugin
mvc_client/Qianbao/gen
mvc_client/Qianbao/bin
mvc_client/UPPayDemo

rel/files
rel/*.vbox
rel/sales.veeka.com/test
rel/admin.mvcard.com.cn/admin
Thumbs.db
