{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "alone@work0.vbox", "1",
        [
         kernel,
         stdlib,
         sasl,
	 yaws,
         baomi,
	 fenliu
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "alone@work0.vbox"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, yaws, [{incl_cond, include}, {lib_dir, "../deps/yaws"}]},
       {app, baomi, [{incl_cond, include}, {lib_dir, "../baomi"}]}, 
       {app, fenliu, [{incl_cond, include}, {lib_dir, "../fenliu"}]}
      ]}.

{target_dir, "alone@work0.vbox"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/alone@work0.vbox", "bin/alone@work0.vbox"},
           {copy, "files/alone@work0.vbox.cmd", "bin/alone@work0.vbox.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
