{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "lead", "1",
        [
         kernel,
         stdlib,
         sasl,
	 crypto,
	 ssl,
         public_key,
         compiler,
	 mnesia,
	 xmerl,

	 node_config,

         yaws
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "lead"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, crypto, [{incl_cond, include}]},
       {app, ssl, [{incl_cond, include}]},
       {app, public_key, [{incl_cond, include}]},
       {app, compiler, [{incl_cond, include}]},
       {app, mnesia, [{incl_cond, include}]},
       {app, xmerl, [{incl_cond, include}]},

       {app, node_config, [{incl_cond, include}, {lib_dir, "../../node_config"}]},
       {app, fenliu, [{incl_cond, include}, {lib_dir, "../../fenliu"}]},
       {app, baomi, [{incl_cond, include}, {lib_dir, "../../baomi"}]},

       {app, yaws, [{incl_cond, include}, {lib_dir, "../../deps/yaws"}]}

      ]}.

{target_dir, "lead"}.

{overlay, [
           {mkdir, "etc"},
           {mkdir, "tmp"},
           {mkdir, "www"},
           {mkdir, "log/sasl"},
           {mkdir, "log/yaws"},
           {copy, "files/yaws.conf", "etc/yaws.conf"},
	   {copy, "files/baomi.key", "etc/baomi.key"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/lead", "bin/lead"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
